{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Auth Biométrique{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>
<body>
    <main class="card">
        {% if messages %}
            {% for message in messages %}
                <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
